{% extends 'mw_stats/layout.html' %}

{% block title %} Change Password {% endblock %}

{% block links %}
    <a class="nav-link" href="{% url 'warzone' %}">Warzone</a>
    <a class="nav-link" href="{% url 'multiplayer' %}">Multiplayer</a>
    <a class="nav-link" href="{% url 'private' %}">Private</a>
    <a class="nav-link" href="{% url 'history' %}">History</a>
{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}
    <h4 class="padding text-center">Change your password.</h4>
    <div class="col-3 mx-auto">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary">Save changes</button>
        </form>
    </div>
{% endblock %}