{% extends 'mw_stats/layout.html' %}

{% block title %} Compare {% endblock %}

{% block links %}
    <a class="nav-link" href="{% url 'warzone' %}">Warzone</a>
    <a class="nav-link" href="{% url 'multiplayer' %}">Multiplayer</a>
    <a class="nav-link" href="">Private</a>
    <a class="nav-link" href="{% url 'history' %}">History</a>
{% endblock %}


{% block body %}
    {% if message %}
        {{message }}
    {% endif %}
    {% load crispy_forms_tags %}

    <div class="col-md-6 offset-md-3">
        <p class="fw-light fs-4">Enter up to four Gamertags to compare your stats against.</p>
        <form action="{% url 'friends' %}" method="POST">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

{% endblock %}