{% extends 'mw_stats/layout.html' %}

{% block title %} Compare {% endblock %}

{% block links %}
    <a class="nav-link" href="{% url 'warzone' %}">Warzone</a>
    <a class="nav-link" href="">Multiplayer</a>
    <a class="nav-link" href="">Private</a>
    <a class="nav-link" href="">History</a>
{% endblock %}


{% block body %}
    {% load crispy_forms_tags %}

    <div class="col-md-6 offset-md-3">
        <p class="fw-light fs-4">Enter up to four Gamertags to compare your stats against.</p>
        <form action="{% url 'friends' %}" method="POST">
            {% csrf_token %}
            <div class="form-divide col-sm-6">{{ form.gamertag1|as_crispy_field }}</div>
            <div class="form-divide col-sm-6">{{ form.gamertag2|as_crispy_field }}</div>
            <div class="form-divide col-sm-6">{{ form.gamertag3|as_crispy_field }}</div>
            <div class="form-divide col-sm-6">{{ form.gamertag4|as_crispy_field }}</div>
            <div class="form-divide-extra col-sm-6">{{ form.gamertag5|as_crispy_field }}</div>
            <input type="submit" class="btn btn-secondary">
        </form>
    </div>

{% endblock %}