{% extends 'mw_stats/layout.html' %}

{% block title %} Home {% endblock %}

{% block links %}
    {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'warzone' %}">Warzone</a>
        <a class="nav-link" href="">Multiplayer</a>
        <a class="nav-link" href="">Private</a>
        <a class="nav-link" href="{% url 'history' %}">History</a>
    {% else %}
        <a class="nav-link active" href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock %}


{% block body %}

    {% if user.is_authenticated %}
        <p class="fw-light fs-4 text-center">Signed in as <strong>{{ gamertag }}</strong></p>
    {% else %}
        <p class="fw-light fs-4 text-center">Please <b>Register</b> or <b>Sign In</b> using the links above.</p>
    {% endif %}

    <br>

    <div class="text-center">
        <img src="static/mw_stats/MW_heading.jpg" alt="Modern Warfare">
    </div>

{% endblock %}