{% extends 'mw_stats/layout.html' %}

{% block title %} Multiplayer {% endblock %}

{% block links %}
    <a class="nav-link" href="{% url 'warzone' %}" active>Warzone</a>
    <a class="nav-link" href="{% url 'multiplayer' %}" active>Multiplayer</a>
    <a class="nav-link" href="{% url 'private' %}">Private</a>
    <a class="nav-link" href="{% url 'history' %}">History</a>
{% endblock %}


{% block body %}
    <main class="container p-5">
        <h2>{{ gamertag }}'s Mutliplayer Stats</h2>
        <p></p>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Kills</th>
                    <th>Killstreak</th>
                    <th>Deaths</th>
                    <th>K/D</th>
                    <th>Best K/D</th>
                    <th>Assists</th>
                    <th>Score/Game</th>
                    <th>Score/Min</th>
                    <th>Wins</th>
                    <th>Win %</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ gamertag }}</td>
                    <td>{{ kills }}</td>
                    <td>{{ killstreak }}</td>
                    <td>{{ deaths }}</td>
                    <td>{{ kd }}</td>
                    <td>{{ best_kd }}</td>
                    <td>{{ assists }}</td>
                    <td>{{ score_per_game }}</td>
                    <td>{{ score_per_min }}</td>
                    <td>{{ wins }}</td>
                    <td>{{ win_perc }}%</td>
                </tr>
            {% for friend in mp_stats_F %}
                <tr>
                    <td>{{ friend.0 }}</td>
                    <td>{{ friend.1 }}</td>
                    <td>{{ friend.2 }}</td>
                    <td>{{ friend.3 }}</td>
                    <td>{{ friend.4 }}</td>
                    <td>{{ friend.5 }}</td>
                    <td>{{ friend.6 }}</td>
                    <td>{{ friend.7 }}</td>
                    <td>{{ friend.8 }}</td>
                    <td>{{ friend.9 }}</td>
                    <td>{{ friend.10 }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'friends' %}" class="btn btn-secondary">Compare with friends</a>
    </main>

{% endblock %}