{% extends 'mw_stats/layout.html' %}

{% block title %} Private Matches {% endblock %}

{% block links %}
    <a class="nav-link" href="{% url 'warzone' %}" active>Warzone</a>
    <a class="nav-link" href="{% url 'multiplayer' %}">Multiplayer</a>
    <a class="nav-link" href="{% url 'private' %}">Private</a>
    <a class="nav-link" href="{% url 'history' %}">History</a>
{% endblock %}


{% block body %}
    <main class="container p-5">
        <h2>Custom Match Scoreboard</h2>
        <p></p>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>1st Place</th>
                    <th>2nd Place</th>
                    <th>3rd Place</th>
                    <th>Point Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Alex</b></td>
                    <td>{{ alex_scores.first }}</td>
                    <td>{{ alex_scores.second }}</td>
                    <td>{{ alex_scores.third }}</td>
                    <td>{{ alex_scores.total }}</td>
                </tr>
                <tr>
                    <td><b>Colin</b></td>
                    <td>{{ colin_scores.first }}</td>
                    <td>{{ colin_scores.second }}</td>
                    <td>{{ colin_scores.third }}</td>
                    <td>{{ colin_scores.total }}</td>
                </tr>
                <tr>
                    <td><b>Trace</b></td>
                    <td>{{ trace_scores.first }}</td>
                    <td>{{ trace_scores.second }}</td>
                    <td>{{ trace_scores.third }}</td>
                    <td>{{ trace_scores.total }}</td>
                </tr>
            </tbody>
        </table>

        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-md-center">
                <div class="col-3">
                <select class="form-select" name="first">
                    <option selected>Who's best?</option>
                    <option value="alex">Alex</option>
                    <option value="colin">Colin</option>
                    <option value="trace">Trace</option>
                    </select>
                </div>
                <div class="col-3">
                <select class="form-select" name="second">
                    <option selected>Who's average?</option>
                    <option value="alex">Alex</option>
                    <option value="colin">Colin</option>
                    <option value="trace">Trace</option>
                    </select>
                </div>
                <div class="col-3">
                <select class="form-select" name="third">
                    <option selected>Who got humbled?</option>
                    <option value="alex">Alex</option>
                    <option value="colin">Colin</option>
                    <option value="trace">Trace</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" name="current">Submit</button>
                </div>
            </div>
        </form>
    </main>

    <br>

    <form method='POST'>
        {% csrf_token %}
        <div class="container">
            <div class="col-3">
                <h5 class="text-center">All Time Leaderboard</h5>
                <table class="table table-secondary table-hover table-bordered border-dark">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Player</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Leader</th>
                            <td>Alex</td>
                            <td>{{ alex_private.all_time_score }}</td>
                        </tr>
                        <tr>
                            <th scope="row">2nd Place</th>
                            <td>Colin</td>
                            <td>{{ colin_private.all_time_score }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Place</th>
                            <td>Trace</td>
                            <td>{{ trace_private.all_time_score }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" name="alltime">Update All Time Scores</button>
            </div>
        </div>
    </form>
{% endblock %}