{% extends 'mw_stats/layout.html' %}

{% block title %} Private Matches {% endblock %}

{% block links %}
    <a class="nav-link" href="{% url 'warzone' %}" active>Warzone</a>
    <a class="nav-link" href="{% url 'multiplayer' %}">Multiplayer</a>
    <a class="nav-link" href="{% url 'private' %}">Private</a>
    <a class="nav-link" href="{% url 'history' %}">History</a>
{% endblock %}


{% block body %}
    <main class="container p-5">
        <h2>Custom Match Scoreboard</h2>
        <p></p>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>1st Place</th>
                    <th>2nd Place</th>
                    <th>3rd Place</th>
                    <th>Point Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alex</td>
                    <td>{{ a_scores.first }}</td>
                    <td>{{ alex_scores.1 }}</td>
                    <td>{{ alex_scores.2 }}</td>
                    <td>{{ alex_scores.3 }}</td>
                </tr>
                <tr>
                    <td>Colin</td>
                    <td>{{ colin_scores.0 }}</td>
                    <td>{{ colin_scores.1 }}</td>
                    <td>{{ colin_scores.2 }}</td>
                    <td>{{ colin_scores.3 }}</td>
                </tr>
                <tr>
                    <td>Trace</td>
                    <td>{{ trace_scores.0 }}</td>
                    <td>{{ trace_scores.1 }}</td>
                    <td>{{ trace_scores.2 }}</td>
                    <td>{{ trace_scores.3 }}</td>
                </tr>
            </tbody>
        </table>

        <form method="POST">
            {% csrf_token %}
            <div class="row justify-content-md-center">
                <div class="col-3">
                <select class="form-select" name="first">
                    <option selected>Who's best?</option>
                    <option value="alex">Alex</option>
                    <option value="colin">Colin</option>
                    <option value="trace">Trace</option>
                    </select>
                </div>
                <div class="col-3">
                <select class="form-select" name="second">
                    <option selected>Who's average?</option>
                    <option value="alex">Alex</option>
                    <option value="colin">Colin</option>
                    <option value="trace">Trace</option>
                    </select>
                </div>
                <div class="col-3">
                <select class="form-select" name="third">
                    <option selected>Who got humbled?</option>
                    <option value="alex">Alex</option>
                    <option value="colin">Colin</option>
                    <option value="trace">Trace</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </main>
{% endblock %}